@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-mrg-blue {
  background-color: rgba(0, 57, 79, 1);
}

.bg-mrg-blue2 {
  background-color: rgba(3, 60, 81, 1);
}

.carousel {
  position: relative;
  overflow: hidden;
  height: 650px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slide {
  min-width: 100%;
  flex-shrink: 0;
  height: 100%;
  position: relative;
}

.controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.control-btn {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.control-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

.bg-red {
  background: rgba(218, 50, 64, 1);
}

.text-t-red {
  color: rgba(218, 50, 64, 1);
}

.text-t-blue {
  color: rgba(0, 57, 79, 1);
}

#whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #25d366;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#whatsapp-button img {
  width: 50px;
  height: 50px;
}
.cursor-pointer {
  cursor: pointer;
}
.fixed {
  position: fixed;
}
.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.z-50 {
  z-index: 50;
}
.max-w-full {
  max-width: 100%;
}
.max-h-full {
  max-height: 100%;
}
.bg-black {
  background-color: black;
}
.bg-opacity-70 {
  background-color: rgba(0, 0, 0, 0.7);
}

.quadroInsta {
  width: 20%;
  max-width: 800px;
  height: 900px !important;
  min-height: 900px;
  border: none;
  overflow: hidden;
}

.quadroInsta::-webkit-scrollbar {
  display: none;
}
